.body__index{

    height: 100vh;
    
}
/* ################ */
/* INICIO Transiciones */
/* ################ */
.loader {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
    .page-transition {
        position: absolute;
        bottom: 0;
        background-image: url(../assets/img/fondo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    
    }
    
    .pages-transition {
        position: absolute;
        bottom: 0;
        background-image: url(../assets/img/fondos.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
/* ################ */
/*  FIN Transiciones */
/* ################ */

/* #####################   HOME ############################# */
.index__home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
    .estrellasderecha{
        position: absolute;
        top: 5em;
        right: 5em;
        z-index: 0;
        transform: scale(0.8);
    }
    .estrellasisquierda{
        position: absolute;
        bottom: 8em;
        left: 8em;
        z-index: 0;
        transform: scale(0.9);
    }
    
    .home__titulo {
        margin-left: 1em;
        margin-right: 1em;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 136%;
        text-align: center;
        color: #111111;
        .imgh1 {

            border-radius: 100px;
            animation: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-name: imgtex;
        }
        @keyframes imgtex {
            from {
                width: 10%;
            }
        
            to {
                width: 24.5%;
            }   
        }
    }
    .home__subtitulo{
        margin-right: 10em;
        margin-left: 10em;
        font-family:'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.5%;
        text-align: center;
        letter-spacing: 0.05em;
        color: #111111;
    }
}
.float {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    .botonfloat {
        position: absolute;
        z-index: -1;
        margin-top: 0px;
        margin-left: 0px;
       
    }
    .backfloat {
        margin-top: 2.2px;
        margin-left: 2px;
        border-radius: 100%;
        animation-name: backfloat;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes backfloat {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    &:hover {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(1, -0.37, 0, 1.63);
        transform: rotate(45deg)scale(1.2);
    }
}

.home__contenedorcintas {
    display: none;
    position: absolute;
    width: 100%;
    z-index: -5;
    bottom: 1px;
    .contcinta1 {
        position: absolute;
        bottom: 5em;
        height: auto;
        width: 100%;
        overflow: hidden;
        transform: rotate(4deg);
        z-index: -2;
        background: $colorn;
        .cintahome1 {
            width: 1600px;
            height: 30px;
            background-image: url("../assets/img/cintahome1.png");
            background-size: 100% 100%;
            animation: slider 30s infinite linear;
            background-repeat: repeat;
        }     
        @keyframes slider {
            to {
                background-position: 1600px;
            }
        }
    }
    .contcinta2 {
        position: absolute;
        bottom: 4em;
        height: auto;
        width: 100%;
        overflow: hidden;
        transform: rotate(-5deg);
        z-index: -2;
        background: $colora;
        .cintahome2 {
            width: 1600px;
            height: 30px;
            background-image: url("../assets/img/cintahome2.png");
            background-size: 100% 100%;
            animation: 30s infinite linear;
            background-repeat: repeat;
            animation-name: slider2;
        }
        @keyframes slider2 {
            to {
                background-position: 1600px;
            }
        }
    }
    
}
/* ################# RESPONSIVE ############## */
@media (max-width: 772px) {
    .cursor{
        display: none;
    }
    .main_index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        nav {
            display: flex;
            margin-top: 2em;
            margin-bottom: 0em;
            justify-content: space-between;
            margin-left: 4em;
            margin-right: 4em;
            #logo {
                transform: scale(0.9);
            }
            .menu{
                justify-content: center;
                display: flex;
                align-items: center;
                transform: scale(0.9);
            }
        }
    
        .index__home {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            margin-top: 15em;
            margin-left: 4em;
            margin-right: 4em;
            gap: 2em;
            
            .estrellasderecha{
                position: absolute;
                top: 8em;
                right: 0px;
                z-index: 0;
                transform: scale(0.5);
                
            }
            .estrellasisquierda{
                display:block;
                position: absolute;
                top: 5em;
                left: 2em;
                height: auto;
                z-index: 0;
                bottom: 0em;
                transform: scale(0.6);
            }
            
            .home__titulo {
                margin-left: 2em;
                margin-right: 2em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                text-align:center;
                color: #000000;
                
                .imgflecha{
                    display: none;
                    transform: scale(0.9);
                }
                .miniperfil{
    
                    transform: scale(0.9);
                }
                .imgh1 {
                    display: none;
                    border-radius: 100px;
                    animation: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    animation-name: null;
                    transform: scale(0.5);
                }
                @keyframes imgtex {
                    from {
                        width: 10%;
                    }
                
                    to {
                        width: 24.5%;
                    }   
                }
            }
            .home__subtitulo{
                margin-right: 4em;
                margin-left: 4em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 138.5%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
            }
        }
    }
    
    .float {
        margin-top: 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #000000;
        .botonfloat {
            position: absolute;
            z-index: -1;
            margin-top: 0px;
            margin-left: 0px;
           
        }
        .backfloat {
            margin-top: 2.2px;
            margin-left: 2px;
            border-radius: 100%;
            animation-name: backfloat;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes backfloat {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        &:hover {
            transition: transform 1s;
            transition-timing-function: cubic-bezier(1, -0.37, 0, 1.63);
            transform: rotate(45deg)scale(1.2);
        }
    }
    .home__contenedorcintas {
        display: block;
        position: absolute;
        width: 100%;
        z-index: -5;
        bottom: -1em;
        .contcinta1 {
            position: absolute;
            bottom: 8em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(-7deg);
            z-index: -2;
            background: $colorn;
            .cintahome1 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome1.png");
                background-size: 100% 100%;
                animation: slider 30s infinite linear;
                background-repeat: repeat;
            }     
            @keyframes slider {
                to {
                    background-position: 1600px;
                }
            }
        }
        .contcinta2 {
            position: absolute;
            bottom: 4em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(5deg);
            z-index: -2;
            background: $colora;
            .cintahome2 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome2.png");
                background-size: 100% 100%;
                animation: 30s infinite linear;
                background-repeat: repeat;
                animation-name: slider2;
            }
            @keyframes slider2 {
                to {
                    background-position: 1600px;
                }
            }
        }
        
    }
}

@media (max-width: 770px) {
    .cursor{
        display: none;
    }
    .main_index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        nav {
            display: flex;
            margin-top: 2em;
            margin-bottom: 0em;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 1em;
            #logo {
                transform: scale(0.9);
            }
            .menu{
                justify-content: center;
                display: flex;
                align-items: center;
                transform: scale(0.9);
            }
        }
    
        .index__home {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            margin-top: 10em;
            margin-left: 1em;
            margin-right: 1em;
            gap: 2em;
            
            .estrellasderecha{
                position: absolute;
                top: 5em;
                right: -10px;
                z-index: 0;
                transform: scale(0.5);
                
            }
            .estrellasisquierda{
                display:block;
                position: absolute;
                top: 5em;
                left: 2em;
                height: auto;
                z-index: 0;
                bottom: 0em;
                transform: scale(0.6);
            }
            
            .home__titulo {
                margin-left: 0em;
                margin-right: 0em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                text-align:center;
                color: #000000;
                
                .imgflecha{
                    display: none;
                    transform: scale(0.9);
                }
                .miniperfil{
    
                    transform: scale(0.9);
                }
                .imgh1 {
                    display: none;
                    border-radius: 100px;
                    animation: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    animation-name: null;
                    transform: scale(0.5);
                }
                @keyframes imgtex {
                    from {
                        width: 10%;
                    }
                
                    to {
                        width: 24.5%;
                    }   
                }
            }
            .home__subtitulo{
                margin-right: 2em;
                margin-left: 2em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 138.5%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
            }
        }
    }
    
    .float {
        margin-top: 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #000000;
        .botonfloat {
            position: absolute;
            z-index: -1;
            margin-top: 0px;
            margin-left: 0px;
           
        }
        .backfloat {
            margin-top: 2.2px;
            margin-left: 2px;
            border-radius: 100%;
            animation-name: backfloat;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes backfloat {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        &:hover {
            transition: transform 1s;
            transition-timing-function: cubic-bezier(1, -0.37, 0, 1.63);
            transform: rotate(45deg)scale(1.2);
        }
    }
    .home__contenedorcintas {
        
        position: none;
        width: 100%;
        z-index: -5;
        bottom: -1em;
        .contcinta1 {
            position: absolute;
            bottom: 8em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(7deg);
            z-index: -2;
            background: $colorn;
            .cintahome1 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome1.png");
                background-size: 100% 100%;
                animation: slider 30s infinite linear;
                background-repeat: repeat;
            }     
            @keyframes slider {
                to {
                    background-position: 1600px;
                }
            }
        }
        .contcinta2 {
            position: absolute;
            bottom: 4em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(-5deg);
            z-index: -2;
            background: $colora;
            .cintahome2 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome2.png");
                background-size: 100% 100%;
                animation: 30s infinite linear;
                background-repeat: repeat;
                animation-name: slider2;
            }
            @keyframes slider2 {
                to {
                    background-position: 1600px;
                }
            }
        }
        
    }
}

@media (max-width: 450px) {
    .cursor{
        display: none;
    }
    .main_index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        nav {
            display: flex;
            margin-top: 2em;
            margin-bottom: 0em;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 1em;
            #logo {
                transform: scale(0.9);
            }
            .menu{
                justify-content: center;
                display: flex;
                align-items: center;
                transform: scale(0.9);
            }
        }
    
        .index__home {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            margin-top: 5em;
            margin-left: 1em;
            margin-right: 1em;
            gap: 1em;
            
            .estrellasderecha{
                position: absolute;
                top: 2em;
                right: -10px;
                z-index: 0;
                transform: scale(0.5);
                
            }
            .estrellasisquierda{
                display: none;
                position: absolute;
                top: 10em;
                left: 2em;
                z-index: 0;
                transform: scale(0.6);
            }
            
            .home__titulo {
                margin-left: 0em;
                margin-right: 0em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                text-align:center;
                color: #000000;
                
                .imgflecha{
                    display: none;
                    transform: scale(0.9);
                }
                .miniperfil{
    
                    transform: scale(0.9);
                }
                .imgh1 {
                    display: none;
                    border-radius: 100px;
                    animation: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    animation-name: null;
                    transform: scale(0.5);
                }
                @keyframes imgtex {
                    from {
                        width: 10%;
                    }
                
                    to {
                        width: 24.5%;
                    }   
                }
            }
            .home__subtitulo{
                margin-right: 2em;
                margin-left: 2em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 138.5%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
            }
        }
    }
    
    .float {
        margin-top: 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #000000;
        .botonfloat {
            position: absolute;
            z-index: -1;
            margin-top: 0px;
            margin-left: 0px;
           
        }
        .backfloat {
            margin-top: 2.2px;
            margin-left: 2px;
            border-radius: 100%;
            animation-name: backfloat;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes backfloat {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        &:hover {
            transition: transform 1s;
            transition-timing-function: cubic-bezier(1, -0.37, 0, 1.63);
            transform: rotate(45deg)scale(1.2);
        }
    }
    .home__contenedorcintas {
        position: relative;
        width: 100%;
        z-index: -5;
        bottom: -5em;
        .contcinta1 {
            position: absolute;
            bottom: 8em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(7deg);
            z-index: -2;
            background: $colorn;
            .cintahome1 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome1.png");
                background-size: 100% 100%;
                animation: slider 30s infinite linear;
                background-repeat: repeat;
            }     
            @keyframes slider {
                to {
                    background-position: 1600px;
                }
            }
        }
        .contcinta2 {
            position: absolute;
            bottom: 4em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(-5deg);
            z-index: -2;
            background: $colora;
            .cintahome2 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome2.png");
                background-size: 100% 100%;
                animation: 30s infinite linear;
                background-repeat: repeat;
                animation-name: slider2;
            }
            @keyframes slider2 {
                to {
                    background-position: 1600px;
                }
            }
        }
        
    }
}

@media (max-width: 320px) {
    .cursor{
        display: none;
    }
    .main_index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        nav {
            display: flex;
            margin-top: 2em;
            margin-bottom: 0em;
            justify-content: space-between;
            margin-left: 1em;
            margin-right: 1em;
            #logo {
                transform: scale(0.9);
            }
            .menu{
                justify-content: center;
                display: flex;
                align-items: center;
                transform: scale(0.9);
            }
        }
    
        .index__home {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            margin-top: 5em;
            margin-left: 1em;
            margin-right: 1em;
            gap: 1em;
            
            .estrellasderecha{
                position: absolute;
                top: 2em;
                right: -10px;
                z-index: 0;
                transform: scale(0.5);
                
            }
            .estrellasisquierda{
                display: none;
                position: absolute;
                top: 10em;
                left: 2em;
                z-index: 0;
                transform: scale(0.6);
            }
            
            .home__titulo {
                margin-left: 0em;
                margin-right: 0em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                text-align:center;
                color: #000000;
                
                .imgflecha{
                    display: none;
                    transform: scale(0.9);
                }
                .miniperfil{
    
                    transform: scale(0.9);
                }
                .imgh1 {
                    display: none;
                    border-radius: 100px;
                    animation: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    animation-name: null;
                    transform: scale(0.5);
                }
                @keyframes imgtex {
                    from {
                        width: 10%;
                    }
                
                    to {
                        width: 24.5%;
                    }   
                }
            }
            .home__subtitulo{
                margin-right: 2em;
                margin-left: 2em;
                font-family: 'Sora';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 138.5%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
            }
        }
    }
    
    .float {
        margin-top: 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #000000;
        transform: scale(0.8);
        .botonfloat {
            position: absolute;
            z-index: -1;
            margin-top: 0px;
            margin-left: 0px;
           
        }
        .backfloat {
            margin-top: 2.2px;
            margin-left: 2px;
            border-radius: 100%;
            animation-name: backfloat;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes backfloat {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        &:hover {
            transition: transform 1s;
            transition-timing-function: cubic-bezier(1, -0.37, 0, 1.63);
            transform: rotate(45deg)scale(1.2);
        }
    }
    .home__contenedorcintas {
        display: none;
        position:none;
        width: 100%;
        z-index: -5;
        bottom: 0em;
        .contcinta1 {
            position: absolute;
            bottom: 8em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(7deg);
            z-index: -2;
            background: $colorn;
            .cintahome1 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome1.png");
                background-size: 100% 100%;
                animation: slider 30s infinite linear;
                background-repeat: repeat;
            }     
            @keyframes slider {
                to {
                    background-position: 1600px;
                }
            }
        }
        .contcinta2 {
            position: absolute;
            bottom: 4em;
            height: auto;
            width: 100%;
            overflow: hidden;
            transform: rotate(-5deg);
            z-index: -2;
            background: $colora;
            .cintahome2 {
                width: 1600px;
                height: 30px;
                background-image: url("../assets/img/cintahome2.png");
                background-size: 100% 100%;
                animation: 30s infinite linear;
                background-repeat: repeat;
                animation-name: slider2;
            }
            @keyframes slider2 {
                to {
                    background-position: 1600px;
                }
            }
        }
        
    }
}


