.body__index {
    width: 100vw;
    overflow-x: hidden;

    main {
        .boton_portafolio {
            position: absolute;
            bottom: -4px;
            right: -1px;
            z-index: 0;


            .boton_portafolio_contenedor {
                position: relative;

                .botonfloat {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    z-index: 1;
                    transform: rotate(-55deg);
                    transition-property: transform;
                    transition-duration: 0.2s;
                    transition-delay: 0s;
                    transition-timing-function: cubic-bezier(0.01, 1.02, 1, 1.59);
                }

                .botonfloat:hover {
                    transform: rotate(0deg)
                }

                .blackfloat {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    z-index: 0;
                    animation-name: backfloat;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;

                    @keyframes backfloat {
                        0% {
                            transform: rotate(0);

                        }

                        100% {
                            transform: rotate(360deg);

                        }
                    }
                }
            }

        }

        /* #####################   SECTION UNO ############################# */
        .conten_setion_uno {
            position: relative;
            margin: 0px 5em 0px 5em;

            .titulo_setion_uno {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 85vh;


                h1 {
                    color: #000;
                    text-align: center;
                    font-family: Sora;
                    font-size: 75px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 136%;
                    /* 102px */
                    text-transform: uppercase;

                    strong {
                        color: #000;
                        font-family: Sorts Mill Goudy;
                        font-size: 75px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 136%;
                        text-transform: uppercase;
                    }
                }

                p {
                    color: #252525;
                    text-align: center;
                    font-family: Sora;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                .boton_setion_uno {
                    display: flex;
                    flex-direction: row;
                    gap: 0px;

                    .boton_setion_uno_contactame {
                        display: flex;
                        width: 201px;
                        padding: 15px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 10px;
                        background: #FFF503;
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 107.5%;
                        /* 16.125px */
                    }
                }

                .cont_barra_contadores {
                    display: flex;
                    padding: 22px 20px;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    border-radius: 20px;
                    border: 1px solid #FFF;
                    background: rgba(255, 255, 255, 0.05);
                    backdrop-filter: blur(50px);

                    div {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {}

                        h4 {
                            color: #252525;
                            font-family: Sora;
                            font-size: 35px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 74%;
                            /* 25.9px */
                            letter-spacing: 0.35px;
                        }

                        p {
                            color: #252525;
                            font-family: Sora;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 15px */
                            letter-spacing: 0.15px;
                        }
                    }


                }

            }

        }

        .grilla {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 88vw;
            margin-top: 5em;
            margin-left: 5em;
        }

        .fondo_inicio {
            position: absolute;
            z-index: -10;
            top: 0px;
            left: 0px;
            background: #F4F4F4;
            width: 100vw;
            height: 120vh;
            overflow: hidden;

            .bold_uno {
                position: absolute;
                top: -500px;
                left: -400px;
            }

            .bold_dos {
                position: absolute;
                top: 10px;
                left: -400px;
            }

            .bold_tres {
                position: absolute;
                bottom: -600px;
                right: -400px;
            }

            .fondo_blur {
                z-index: 0;
                width: 100vw;
                height: 100%;
                background: rgba(255, 255, 255, 0.02);
                backdrop-filter: blur(80px);
            }



        }

        .cont_cinta_inicio {
            margin-top: 3em;
            position: relative;


            .slider_inicio {
                position: absolute;
                z-index: 0;
                top: 0;
                left: -1px;
                height: 150px;
                margin: 0px;
                width: 100%;
                display: flex;
                align-items: start;
                transform: rotate(-4deg);
                flex-shrink: 0;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.322);
                overflow: hidden;

                .slide-track {
                    -webkit-animation: 60s linear infinite;
                    animation: 60s linear infinite;
                    animation-name: scroll10;
                    display: flex;
                    width: 11100px;
                    gap: 20px;
                    background: #ffffff;
                    align-items: center;



                    .slide {
                        height: 50px;
                        
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        p {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            color: #000;
                            text-align: center;
                            font-family: Sora;
                            font-size: 128px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 106%;
                            white-space: nowrap;
                        }

                    }

                    .video_uno {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: inline-block;
                        width: 250px;
                        height: 150px;
                        border-radius: 172px;
                    }

                    .video_dos {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: inline-block;
                        width: 300px;
                        height: 150px;
                        border-radius: 172px;
                    }
                }

            }

        }

        /* #####################   SECTION DOS ############################# */

        .cont_aboutme {
            display: flex;
            flex-direction: column;
            margin: 20em 5em 5em 5em;

            .cont_titulo_aboutme {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                .titulo {
                    color: #000;
                    font-family: Sora;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 122%;
                    letter-spacing: 0.75px;
                    text-transform: capitalize;
                }

                .cont_subtitulo_aboutme {
                    display: flex;
                    gap: 65px;
                    align-items: flex-end;

                    .subtitulo_aboutme {
                        color: #000;
                        font-family: Sora;
                        font-size: 80px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 115.5%;
                        /* 103.95px */
                        text-transform: capitalize;
                    }

                    .context_subtitulo {
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 138.5%;
                        /* 20.775px */
                        text-transform: capitalize;
                    }

                    .etiqueta {
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 138.5%;
                        /* 20.775px */
                        text-transform: capitalize;
                        white-space: nowrap;
                    }
                }
            }

            .cont_contenido_aboutme {
                display: flex;
                flex-direction: row;
                margin: 5em 0em 5em 0em;
                justify-content: space-between;
                gap: 100px;

                .animacion_aboutme {
                    background: #FFF503;
                    width: 50%;
                    border-radius: 20px;
                    overflow: hidden;
                }

                .lista_contenido_aboutme {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 50%;

                    .contenido {
                        display: flex;
                        align-items: flex-start;
                        gap: 50px;

                        .numero_contenido {
                            color: #000;
                            font-family: Sora;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 138.5%;
                            /* 19.39px */
                            letter-spacing: 0.7px;
                            text-transform: capitalize;
                            white-space: nowrap;
                        
                        }

                        .titulo_contenido {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 15px;

                            .titulo {
                                color: #000;
                                font-family: Sora;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 122%;
                                /* 18.3px */
                                letter-spacing: 0.75px;
                                text-transform: capitalize;
                            }

                            .contenido_contenido {
                                color: #000;
                                font-family: Sora;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 138.5%;
                                /* 20.775px */
                                letter-spacing: 0.75px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }

        }

        /* #####################   SECTION TRES ############################# */
        .mis_servicios{
            display: flex;
            flex-direction: column;
            margin: 10em 5em 5em 5em;
            .cont_titulo_mis_servicios {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                .titulo {
                    color: #000;
                    font-family: Sora;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 122%;
                    letter-spacing: 0.75px;
                    text-transform: capitalize;
                }

                .cont_subtitulo_mis_servicios {
                    display: flex;
                    gap: 60px;
                    align-items: flex-end;

                    .subtitulo_aboutme {
                        color: #000;
                        font-family: Sora;
                        font-size: 80px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 115.5%;
                        /* 103.95px */
                        text-transform: capitalize;
                    }

                    .context_subtitulo {
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 138.5%;
                        /* 20.775px */
                        text-transform: capitalize;
                    }

                    .etiqueta {
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 138.5%;
                        /* 20.775px */
                        text-transform: capitalize;
                        white-space: nowrap;
                    }
                }
            }
        }

    }

}

@keyframes scroll10 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-9000px);
        transform: translateX(-9000px);
    }
}

@media (max-width: 1000px) {}

@media (max-width: 500px) {}