.body__index {
    width: 100vw;
    overflow-x: hidden;

    main {
        .boton_portafolio {
            position: absolute;
            bottom: -4px;
            right: -1px;
            z-index: 0;

            .boton_portafolio_contenedor {
                position: relative;

                .botonfloat {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    z-index: 1;
                    transform: rotate(-55deg);
                    transition-property: transform;
                    transition-duration: 0.2s;
                    transition-delay: 0s;
                    transition-timing-function: cubic-bezier(0.01, 1.02, 1, 1.59);
                }

                .botonfloat:hover {
                    transform: rotate(0deg)
                }

                .blackfloat {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    z-index: 0;
                    animation-name: backfloat;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;

                    @keyframes backfloat {
                        0% {
                            transform: rotate(0);

                        }

                        100% {
                            transform: rotate(360deg);

                        }
                    }
                }
            }

        }

        /* #####################   CONTENIDO ############################# */
        .conten_setion_uno {
            position: relative;
            margin: 0px 5em 0px 5em;

            .titulo_setion_uno {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 85vh;


                img {}

                h1 {
                    margin-bottom: 10px;
                    color: #252525;
                    text-align: center;
                    font-family: Sora;
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 136%;
                    text-transform: capitalize;
                }

                p {
                    color: #252525;
                    text-align: center;
                    font-family: Sora;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                .boton_setion_uno {
                    display: flex;
                    flex-direction: row;
                    gap: 0px;

                    .boton_setion_uno_contactame {
                        display: flex;
                        width: 201px;
                        padding: 15px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 10px;
                        background: #FFF503;
                        color: #000;
                        font-family: Sora;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 107.5%;
                        /* 16.125px */
                    }
                }

                .conten_setion_uno_contadores {
                    display: flex;
                    flex-direction: row;

                    div {
                        gap: 5px;
                        margin: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        h3 {
                            color: #252525;
                            font-family: Sora;
                            font-size: 35px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 74%;
                            letter-spacing: 0.35px;

                            strong {
                                color: #FFF503;
                            }
                        }

                        p {
                            color: #252525;
                            font-family: Sora;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 15px */
                            letter-spacing: 0.15px;
                        }
                    }


                }
            }

            .ilustracionizquierda {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
            }

            .ilustracionderecha {
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: -1;
            }
        }

        .cont_cinta_inicio {
            margin-top: 3em;
            position: relative;


            .slider_inicio {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                height: 155px;
                margin: auto;
                width: 100%;
                display: flex;
                align-items: start;
                transform: rotate(-4deg);
                flex-direction: column;
                justify-content: space-between;
                flex-shrink: 0;

                .slide-track {
                    -webkit-animation: 60s linear infinite;
                    animation: 60s linear infinite;
                    animation-name: scroll10;
                    display: flex;
                    width: 11000px;
                    gap: 20px;
                    background: #ffffff;
                    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.322);

                    .slide {
                        height: 140px;
                        width: 100%;
                        display: flex;
                        align-items: center;

                        p {
                            color: #000;
                            text-align: center;
                            font-family: Sora;
                            font-size: 128px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 106%;
                            white-space: nowrap;
                        }

                    }

                    .video_uno {
                        display:inline-block;
                        width: 250px;
                        height: 150px;
                        border-radius: 172px;
                    }
                    .video_dos {
                        display:inline-block;
                        width: 300px;
                        height: 150px;
                        border-radius: 172px;
                    }
                }

            }

        }


    }

}

@keyframes scroll10 {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-1100px * 8));
        transform: translateX(calc(-1100px * 8));
    }
}

@media (max-width: 1000px) {}

@media (max-width: 500px) {}