.body_plantilla {
    width: 100vw;
    overflow-x: hidden;


    .cont_inicio {
        display: flex;
        height: 90vh;
        flex-direction: row;
        border-bottom: 1px solid #0c0c0c;

        .colum_uno {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid #000000;

            .titulo {
                color: #000;
                font-family: monaextrabold;
                font-size: 4vw;
                font-style: normal;
                font-weight: 900;
                line-height: 136%;
                /* 102px */
                text-transform: uppercase;
                margin-left: 0.3em;
            }

            .parrafo {
                color: #000;
                font-family: monamedium;
                font-size: 15px;
                font-style: normal;
                font-weight: 300;
                line-height: 136%;
                /* 20.4px */
                text-transform: capitalize;
                margin-left: 2em;
                margin-right: 2em;
            }
        }

        .columdos {
            width: 50%;
            height: 100%;
            flex-shrink: 0;
        }

        .columdosdev {
            width: 50%;
            height: 100%;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .imgdev{
                width: 65%;
            }
        }

        .columdosres {
            width: 50%;
            height: 100%;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            .imgres{
                width: 50%;
            }
        }


        .columdosuxw {
            width: 50%;
            height: 100%;
            flex-shrink: 0;
        }
    }

    .cont_cinta_plantilla {

        position: relative;
        width: 100%;
        height: 50px;
        overflow-x: hidden;


        .slider_inicio {
            width: 100%;
            position: absolute;
            height: 50px;
            display: flex;
            align-items: start;
            flex-shrink: 0;
            overflow: hidden;
            background: #f32400;

            .slide-track {
                width: 100%;
                -webkit-animation: 10s linear infinite;
                animation: 10s linear infinite;
                animation-name: scroll101;
                display: flex;
                width: 2400px;
                align-items: start;
                gap: 1px;

                .slide {
                    height: 50px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: #ffffff;
                        text-align: center;
                        font-family: monasemibold;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 106%;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .cont_grilla_proyectos {
        padding: 1em 1em 1em 1em;
        border-bottom: solid 1px black;
        border-top: #000 1px solid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        gap: 1em;

        .cont_proyectos {
            border: solid 1.8px rgb(131, 131, 131);
            width: 100%;
            display: flex;
            flex-direction: column;


            


            img {
                width: 100%;
                object-fit: cover;
                &:hover{
                    cursor:url("../assets/img/ir.svg") 15 14, auto;
                }

            }

            .cont_pie_proyecto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 1em 1em 1em 1em;

                p {
                    color: #000;
                    font-family: monasemibold;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 136%;
                    /* 20.4px */
                    text-transform: capitalize;
                }

                .cont_fecha {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;

                    img {}

                    p {
                        color: #000;
                        font-family: monasemibold;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 136%;
                        /* 13.6px */
                        text-transform: capitalize;
                        white-space: nowrap;
                    }
                }
            }

            &:hover{
                background: #fcfcfc;
                border: solid 1px rgb(0, 0, 0);
            }


        }

    }
    .cont_ilustracion_error{
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 1em 10vh 10vh;
    }

}


@media (max-width: 800px) {
    .body_plantilla {
        width: 100%;

        .cont_inicio {
            display: flex;
            height: 88vh;
            flex-direction: column-reverse;
            gap: 0em;
            align-items: center;
            justify-content: start;

            .colum_uno {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;


                .titulo {
                    margin-left: 0.8em;
                    margin-right: 0.8em;
                    color: #000;
                    font-family: monabold;
                    font-size: calc(1px + 8vw);
                    font-style: normal;
                    font-weight: 900;
                    line-height: 136%;
                    /* 102px */
                    text-transform: uppercase;
                }

                .parrafo {
                    color: #000;
                    font-family: monamedium;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 136%;
                    /* 20.4px */
                    text-transform: capitalize;
                    padding-bottom: 2em;
                }
            }

            .columdos {
                transform: rotate(90deg);
                width: 100%;
                height: 50%;
            }

            .columdosdev {
                width: 100%;
                height: 50%;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgres{
                    width: 100%;
                }
            }

            .columdosres {
                width: 100%;
                height: 50%;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgdev{
                    width: 100%;
                }
            }

            .columdosuxw {
                width: 100%;
                height: 50%;
            }
        }

        .cont_cinta_plantilla {
            position: relative;
            width: 100%;
            height: 50px;
            overflow-x: hidden;
            

            .slider_inicio {
                width: 100%;
                position: absolute;
                height: 50px;
                display: flex;
                align-items: start;
                flex-shrink: 0;
                overflow: hidden;
                background: #f32400;

                .slide-track {
                    width: 100%;
                    -webkit-animation: 10s linear infinite;
                    animation: 10s linear infinite;
                    animation-name: scroll101;
                    display: flex;
                    width: 2400px;
                    align-items: start;
                    gap: 1px;

                    .slide {
                        height: 50px;
                        width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            color: #ffffff;
                            text-align: center;
                            font-family: monasemibold;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 106%;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .cont_grilla_proyectos {
            padding: 1em 1em 5em 1em;
        }
        .cont_ilustracion_error{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3em 0em 3em 0em;

            img{
                width: 100%;
            }
        }
    }

}



@keyframes scroll101 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-400px);
    }
}