.body_proyecto {
  .cont_proyectos_scrolls {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .cont_inicios {
      height: 90vh;
      display: flex;
      border-bottom: solid 1px black;
      overflow: hidden;

      .colum_unos {
        display: flex;
        flex-direction: column;
        width: 60vw;

        .cont_titulo {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 3em;

          .tipo {
            margin-left: 1.5em;
            width: fit-content;
            padding: 2px 10px;
            border-radius: 3px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: start;

            p {
              font-family: monaregular;
              font-size: 15px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: center;
              color: #fff;
            }
          }

          .titulo {
            margin-left: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            h1 {
              flex-grow: 0;
              font-family: monaextrabold;
              font-size: 6vw;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: #000;
            }
          }

          .parrafo {
            margin-left: 1.5em;

            a {
              width: 250px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;
              padding: 20px 40px;
              background-color: #f32400;
              font-family: monabold;
              font-size: 15px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              text-align: left;
              color: #fff;
            }
          }
        }

        .pie_titulo {
          border-top: 1px solid black;
          display: flex;
          flex-direction: row;
          width: 100%;

          .cont_titulo_pie {
            padding-left: 1.5em;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .titulou {
              width: 100%;
              height: 35px;
              flex-grow: 0;
              font-family: monamedium;
              font-size: 2vw;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              text-align: justify;
              color: #000;
            }

            .titulo_valor {
              font-family: monaregular;
              font-size: 1.2vw;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: left;
              color: #000000;

              .simbolo {
                font-size: 0.8vw;
              }
            }
          }
        }
      }

      .cont_banner {
        width: 40vw;
        height: 100vh;
        background: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-left: #000 solid 1px;

        .video_pro_jannier {
          height: 100%;
        }
      }
    }

    .cont_acercadelproyecto {
      z-index: 1;
      filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
      width: 100vw;
      background: #ffffff;
      position: absolute;
      transform: translateY(100vh);
      display: flex;
      flex-direction: column;
      height: 100vh;

      .titulo_cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10vh 0.5em 10vh 0.5em;
        border-bottom: #000 solid 1px;

        h5{
          padding-bottom: 0.5em;
          width: 100%;
          font-family: monaregular;
          font-size: 1.5vw;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #000;
        }

        h3 {
          font-family: monabold;
          font-size: 4vw;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #000;

        }

      }

      .cont_data_proyecto {
        display: flex;
        flex-direction: column-reverse;
        border-bottom: #000 solid 1px;
        align-items: center;
        height: 100%;

        .data {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .cont_dato {
            padding-left: 1.5em;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column-reverse;
            width: 100%;
            height: 100%;
            border-right: 1px solid black;
            gap: 0.5em;
            position: relative;

            .titulo {
              font-family: monaregular;
              font-size: 1.2vw;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: left;
              color: #000000;
            }

            .dato {
              font-family: monabold;
              font-size: 2vw;
              font-weight: 500;
              letter-spacing: normal;
              text-align: left;
              color: #000;
            }

            .cont_icon {
              top: 0;
              position: absolute;
              right: 0;
              border-bottom: 1px solid black;
              border-left: 1px solid black;

              img {
                margin: 2em;
                width: 4vw;
              }
            }
          }
        }

        .data_proyecto {
          padding: 3em 1.5em 3em 1.5em;
          width: 100%;
          font-family: monaregular;
          font-size: 1.2vw;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: center;
          color: #000;
          border-bottom: 1px solid black;
        }
      }
    }

    .cont_paletadecolores {
      z-index: 2;
      filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
      width: 100vw;
      background: #ffffff;
      position: absolute;
      transform: translateY(100vh);
      display: flex;
      flex-direction: column;
      height: 100vh;

      h3 {
        padding: 0.5em;
        width: 100%;
        font-family: monabold;
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
        color: #000;
        border-bottom: #000 solid 1px;
      }

      .cont_cont_colores {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-bottom: #000 solid 1px;

        .cont_color_uno {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: flex-start;
          padding: 10px 15px;
          box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);

          .titulo {
            font-family: monaregular;
            font-size: 1vw;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }

          p {
            font-family: monamedium;
            font-size: 2vw;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: end;
            color: #ffffff;
          }
        }
      }
    }

    .cont_fuentes {
      z-index: 3;
      filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
      width: 100vw;
      background: #ffffff;
      position: absolute;
      transform: translateY(100vh);
      display: flex;
      flex-direction: column;
      height: 100vh;

      h3 {
        padding: 0.5em;
        width: 100%;
        font-family: monabold;
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
        color: #000;
        border-bottom: #000 solid 1px;
      }

      .contenido_fuente{
        display: flex;
        padding-left: 5em;
        padding-right: 5em;
        flex-direction: column;
        height: 80%;
        align-items: center;
        justify-content: space-around;
        .img_fuente{
          width: 100%;
        }
        .cont_pie_fuente{
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          width: 100%;
          .img_pie_fuente{
            width: 40%;
          }

          .img_dos_pie_fuente{
            display: none;
          }
          .parrafo_pie_fuente{
            width: 50%;
            font-family: monaregular;
            font-size: 1.2vw;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: justify;
            color: #000;
          }
        }
      }

    }
  }

  .cont_img {
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;

    .cont_img_grup {
      display: flex;
      flex-direction: row;

      .cont_img_uno {
        width: 50%;
        img {
          width: 100%;
        }
      }

      .cont_img_dos {
        width: 50%;

        video {
          width: 100%;
        }
      }
    }

    .cont_img_tres {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .body_proyecto {
    .cont_proyectos_scrolls {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100vh;
      overflow: hidden;

      .cont_inicios {
        height: 90vh;
        display: flex;
        border-bottom: solid 1px black;
        overflow: hidden;
        flex-direction: column;

        .colum_unos {
          display: flex;
          flex-direction: column;
          width: 100%;

          .cont_titulo {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2em;

            .tipo {
              margin-left: 1.5em;
              width: fit-content;
              padding: 2px 10px;
              border-radius: 3px;
              background-color: #000;
              display: flex;
              justify-content: center;
              align-items: start;

              p {
                font-family: monaregular;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: center;
                color: #fff;
              }
            }

            .titulo {
              margin-left: 1.5em;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: start;

              h1 {
                flex-grow: 0;
                font-family: monaextrabold;
                font-size: 7.5vw;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #000;
              }
            }

            .parrafo {
              margin-left: 1.5em;

              a {
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                padding: 15px 20px;
                background-color: #f32400;
                font-family: monabold;
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
              }
            }
          }

          .pie_titulo {
            border-top: 1px solid black;
            display: flex;
            flex-direction: row;
            width: 100%;

            .cont_titulo_pie {
              padding-left: 1.5em;
              padding-top: 1.5em;
              padding-bottom: 1.5em;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;

              .titulou {
                width: 100%;
                height: 35px;
                flex-grow: 0;
                font-family: monamedium;
                font-size: 3.5vw;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: justify;
                color: #000;
              }

              .titulo_valor {
                font-family: monaregular;
                font-size: 3vw;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;
                color: #000000;

                .simbolo {
                  font-size: 2vw;
                }
              }
            }
          }
        }

        .cont_banner {
          width: 100%;
          height: 100vh;
          background: #111111;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-top: #000 solid 1px;

          .video_pro_jannier {
            height: 115%;
          }
        }
      }

      .cont_acercadelproyecto {
        z-index: 1;
        filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
        width: 100vw;
        background: #ffffff;
        position: absolute;
        transform: translateY(100vh);
        display: flex;
        flex-direction: column;
        height: 100vh;

        .titulo_cont{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 5vh 0.5em 5vh 0.5em;
          border-bottom: #000 solid 1px;
  
          h5{
            padding-bottom: 0.5em;
            width: 100%;
            font-family: monaregular;
            font-size: 3vw;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #000;
          }
  
          h3 {
            font-family: monabold;
            font-size: 5vw;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #000;
  
          }
  
        }

        .cont_data_proyecto {
          display: flex;
          flex-direction: column-reverse;
          border-bottom: #000 solid 1px;
          align-items: center;
          height: 100%;

          .data {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .cont_dato {
              padding-left: 1.5em;
              display: flex;
              align-items: start;
              justify-content: center;
              flex-direction: column-reverse;
              width: 100%;
              height: 100%;
              border-right: 1px solid black;
              gap: 0.5em;
              position: relative;
              border-bottom: #000 solid 1px;

              .titulo {
                font-family: monaregular;
                font-size: 3vw;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
              }

              .dato {
                font-family: monabold;
                font-size: 4vw;
                font-weight: 500;
                letter-spacing: normal;
                text-align: left;
                color: #000;
              }

              .cont_icon {
                background: #ffffff;
                top: 0;
                position: absolute;
                right: 0;
                border-bottom: 1px solid black;
                border-left: 1px solid black;

                img {
                  filter: invert(0%);
                  margin: 1.5em;
                  width: 5vw;
                }
              }
            }
          }

          .data_proyecto {
            padding: 3em 1.5em 3em 1.5em;
            width: 100%;
            font-family: monalight;
            font-size: 4vw;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: justify;
            color: #030303;
          }
        }
      }

      .cont_paletadecolores {
        z-index: 2;
        filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
        width: 100vw;
        background: #ffffff;
        position: absolute;
        transform: translateY(100vh);
        display: flex;
        flex-direction: column;
        height: 100vh;

        h3 {
          width: 100%;
          padding: 5vw 0.5em 5vw 0.5em;
          flex-grow: 0;
          font-family: monabold;
          font-size: 4vw;
          font-weight: 600;
          text-align: center;
          color: #000;
          border-bottom: #000 solid 1px;
        }

        .cont_cont_colores {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          border-bottom: #000 solid 1px;

          .cont_color_uno {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 15px;
            box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);

            .titulo {
              font-family: monaregular;
              font-size: 3vw;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
            }

            p {
              font-family: monamedium;
              font-size: 4vw;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.36;
              letter-spacing: normal;
              text-align: end;
              color: #ffffff;
            }
          }
        }
      }

      .cont_fuentes {
        z-index: 3;
        filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
        width: 100vw;
        background: #ffffff;
        position: absolute;
        transform: translateY(100vh);
        display: flex;
        flex-direction: column;
        height: 100vh;

        h3 {
          width: 100%;
          padding: 5vw 0.5em 5vw 0.5em;
          flex-grow: 0;
          font-family: monabold;
          font-size: 4vw;
          font-weight: 600;
          text-align: center;
          color: #000;
          border-bottom: #000 solid 1px;
        }

        .contenido_fuente{
          display: flex;
          padding-left: 1em;
          padding-right: 1em;
          flex-direction: column;
          height: 100%;
          align-items: center;
          justify-content: space-around;
          .img_fuente{
            padding-top: 2em;
            width: 100%;
          }
          .cont_pie_fuente{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            width: 100%;
            height: 90%;
            background: rgb(255, 255, 255);
            padding: 0em;
            .img_pie_fuente{
              width: 100%; 
            }
            .img_dos_pie_fuente{
              display:block;
              width: 100%;
            }
            .parrafo_pie_fuente{
              width: 100%;
              font-family: monalight;
              font-size: 4vw;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.2;
              letter-spacing: normal;
              text-align: justify;
              color: #030303;
            }
          }
        }

      }
    }

    .cont_img {
      background: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: #000 solid 1px;

      .cont_img_grup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cont_img_uno {
          width: 100%;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .cont_img_dos {
          width: 100%;

          video {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .cont_img_tres {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
