.body_proyecto {

    .conte__menui_web {
        display: flex;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid black;

        .header__index {
            height: 10vh;
            margin: 0em 1em 0em 1em;
            display: flex;
            width: 100%;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            overflow: hidden;

            .cont__logo__nav {
                transform: scale(0.9) translateY(0px);
                z-index: 1000;
                filter: invert(100%);
            }

            .icono-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(0.8) translateY(0px);
                z-index: 1000;
                margin-right: 9px;

                .bars__menu {
                    width: 10px;
                    height: 10px;
                    position: relative;
                    top: 0%;
                    left: 0%;
                    transform: translate(-50%, -50%) scale(4);

                    span {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #000000;
                        margin-top: 2px;
                        transform-origin: 0px 100%;
                        transition: all 800ms;
                        transition-timing-function: cubic-bezier(0.01, 1.02, 1, 1.59);
                    }
                }

                .activeline1__bars-menu {
                    transform: rotate(45deg) translate(0px, -1px);
                }

                .activeline2__bars-menu {
                    opacity: 0;
                    margin-left: -55vh;
                    transform: scale(1);
                }

                .activeline3__bars-menu {
                    transform: rotate(-45deg) translate(0.8px, 1px);
                }
            }
        }

        .contendor_activo_de_menu {
            border-left: #000 1px solid;
            padding-top: 10vh;
            display: flex;
            right: -100vw;
            top: 0px;
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 9;
            background: #fff;
            transform-origin: 0px 0%;
            transition: all 900ms;
            transition-delay: 0.1s;
            transition-timing-function: cubic-bezier(0.51, 1.02, 1, 1);

            .list_menu {
                height: 80vh;
                border-top: 1px solid black;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;


                .lista_uno {
                    height: 70%;
                    padding-left: 0;
                    width: 100%;
                    margin-bottom: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .cont_opcion_lista {
                        border-bottom: #000 1px solid;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        overflow: hidden;
                        height: 100%;
                        


                        a {
                            margin-left: 0.3em;
                            transition: all 900ms;
                            transition-delay: 0.3s;
                            transition-timing-function: cubic-bezier(0.01, 1.02, 1, 1);
                            transform: translateY(200%);
                            width: 100%;
                            padding: 5px 0px;
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            color: #111111;
                            font-family: monalight;
                            font-size: 7vw;
                            font-style: normal;
                            font-weight: 100;
                            line-height: 107.5%;

                            p {
                                margin-right: 0.3em;
                                color: #989898;
                                font-family: monalight;
                                font-size: 5vw;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 107.5%;
                            }
                        }
                    }

                }

                .boton_contactar{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    padding: 20px 80px;
                    background-color: #f32400;
                    font-family: monabold;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }

                .list_social {
                    height: 10%;
                    display: flex;
                    overflow-y: hidden;

                    a {  
                        height: 100%;  
                        transform: translateY(100%);                    margin-left: 1em;
                        margin-right: 1em;
                        text-align: center;
                        color: #263238;
                        font-family: monaregular;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                    }



                }
            }
        }

        .contendor_activo_de_menu_op {
            border-left: #000 1px solid;
            padding-top: 10vh;
            display: flex;
            right: 0px;
            top: 0px;
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: 9;
            background: #ffffff;


            .list_menu {
                height: 90vh;
                border-top: 1px solid black;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .lista_uno {
                    height: 70%;
                    padding-left: 0;
                    width: 100%;
                    margin-bottom: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .cont_opcion_lista {
                        border-bottom: #000 1px solid;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        overflow: hidden;
                        height: 100%;

                        a {
                            transform: translateY(0%);
                            width: 100%;
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            color: #000000;
                            font-family: monalight;
                            font-size: 4vw;
                            font-style: normal;
                            font-weight: 100;
                            line-height: 107.5%;

                            p {
                                color: #989898;
                                font-family: monalight;
                                font-size: 4vw;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 107.5%;
                            }
                        }
                    }
                }

                .boton_contactar{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    padding: 20px 80px;
                    background-color: #f32400;
                    font-family: monabold;
                    font-size: 20px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }

                .list_social {
                    display: flex;

                    a {   
                        transform: translateY(0%);                      margin-left: 1em;
                        margin-right: 1em;
                        text-align: center;
                        color: #263238;
                        font-family: monaregular;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                    }



                }
            }
        }
    }
    .cont_inicios {
        margin-left: 5em;
        margin-right: 5em;

        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: start;

        .colum_unos {
            display: flex;
            flex-direction: column;
            width: 40vw;
            gap: 0.5em;

            .tipo {
                width: fit-content;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-family: Gotham;
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }
            }

            .titulo {
                h1 {
                    width: 680px;
                    height: 315px;
                    flex-grow: 0;
                    font-family: Margo + Beuys;
                    font-size: 100px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000;
                }
            }

            .parrafo {
                p {
                    height: 20px;
                    flex-grow: 0;
                    font-family: Gotham;
                    font-size: 15px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000;
                }
            }
        }
    }

    .cont_banner {
        height: 95vh;
        background: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .video_pro_jannier {
            width: 100vw;
        }
    }

    .cont_acercadelproyecto {
        display: flex;
        flex-direction: column;
        margin-left: 5em;
        margin-right: 5em;
        height: 100vh;
        padding-top: 5em;

        h3 {
            flex-grow: 0;
            font-family: Margo + Beuys;
            font-size: 50px;
            font-weight: 900;
            text-align: left;
            color: #000;
            margin-bottom: 1em;
        }

        .cont_data_proyecto {
            display: flex;
            flex-direction: row;
            gap: 7em;

            .data {
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: space-between;

                .cont_dato {
                    .titulo {
                        font-family: Gotham;
                        font-size: 15px;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #606060;
                    }

                    .dato {
                        font-family: Gotham;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000;
                    }
                }
            }

            .data_proyecto {
                width: 50%;
                font-family: Gotham;
                font-size: clamp(10px, 4vw, 20px);
                font-weight: 400;
                letter-spacing: normal;
                text-align: left;
                color: #000;
            }
        }
    }

    .cont_paletadecolores {
        display: flex;
        flex-direction: column;
        margin-left: 5em;
        margin-right: 5em;
        height: 100vh;
        padding-top: 5em;

        h3 {
            flex-grow: 0;
            font-family: Margo + Beuys;
            font-size: 50px;
            font-weight: 900;
            text-align: left;
            color: #000;
            margin-bottom: 1em;
        }

        .cont_cont_colores {
            display: flex;
            flex-direction: row;
            gap: 1em;
            justify-content: center;
            align-items: center;
            gap: 25px;
            padding: 2em 2em;
            border-radius: 10px;
            background-color: #efefef;

            .color_uno {
                width: 50%;
                height: 285px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 10px;
                padding: 10px 15px;
                border-radius: 10px;
                box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                background-color: #fff;

                .titulo {
                    font-family: Gotham;
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #303030;
                }

                p {
                    width: 100%;
                    font-family: Margo + Beuys;
                    font-size: 15px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: end;
                    color: #303030;
                }
            }

            .color_segundario {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 100%;
                gap: 1em;

                .color_dos {
                    height: 33.3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 10px 15px;
                    border-radius: 10px;
                    box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                    background-color: #ff4d00;

                    .titulo {
                        font-family: Gotham;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }

                    p {
                        width: 100%;
                        font-family: Margo + Beuys;
                        font-size: 15px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: end;
                        color: #ffffff;
                    }
                }

                .color_tres {
                    height: 33.3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 10px 15px;
                    border-radius: 10px;
                    box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                    background-color: #303030;

                    .titulo {
                        font-family: Gotham;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }

                    p {
                        width: 100%;
                        font-family: Margo + Beuys;
                        font-size: 15px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: end;
                        color: #ffffff;
                    }
                }

                .color_cuatro {
                    height: 33.3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 10px 15px;
                    border-radius: 10px;
                    box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                    background-color: #000;

                    .titulo {
                        font-family: Gotham;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }

                    p {
                        width: 100%;
                        font-family: Margo + Beuys;
                        font-size: 15px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: end;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .cont_fuentes {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 5em;
        margin-right: 5em;
        height: 100%;
        padding-top: 5em;
        padding-bottom: 2em;
        gap: 5em;

        h3 {
            flex-grow: 0;
            font-family: Margo + Beuys;
            font-size: 50px;
            font-weight: 900;
            text-align: left;
            color: #000;
            margin-bottom: 0em;
        }

        .fuente {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            p {
                margin: 0 132px 12px 0;
                font-family: Gotham;
                font-size: 20px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: 0.6px;
                text-align: start;
                color: #000;
            }

            .img_font {
                width: 30%;
            }

            .cont_fuentess {
                width: 100%;
                margin-top: 2em;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min(70px, 100%), 1fr));
                gap: 1em;

                .cont_font {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.5em;

                    img {
                        width: 30%;
                    }

                    .nombre_fuente {
                        display: inline;
                        width: 100%;
                        font-family: Gotham;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1;
                        color: #000;
                    }
                }
            }
        }
    }

    .cont_img {
        display: flex;
        flex-direction: column;
        margin-top: 10em;
        margin-bottom: 10em;
        gap: 0.7em;

        .cont_img_grup {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .cont_img_uno {
                width: 50%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .cont_img_dos {
                width: 50%;

                video {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .cont_img_tres{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .body_proyecto {
        width: 100vw;
        overflow-x: hidden;

        .cont_inicios {
            margin-left: 1em;
            margin-right: 1em;

            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: start;

            .colum_unos {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 0.5em;

                .tipo {
                    width: fit-content;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-family: Gotham;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #fff;
                    }
                }

                .titulo {
                    h1 {
                        width: auto;
                        height: auto;
                        flex-grow: 0;
                        font-family: Margo + Beuys;
                        font-size: 6vh;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000;
                    }
                }

                .parrafo {
                    p {
                        height: 20px;
                        flex-grow: 0;
                        font-family: Gotham;
                        font-size: 2.5vh;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000;
                    }
                }
            }
        }

        .cont_banner {
            height: 50vh;
            background: #111111;
            display: flex;
            align-items: center;
            justify-content: center;


            .video_pro_jannier {
                width: 100vw;
            }
        }

        .cont_acercadelproyecto {
            display: flex;
            flex-direction: column;
            margin-left: 1em;
            margin-right: 1em;
            height: 100vh;
            padding-top: 5em;

            h3 {
                flex-grow: 0;
                font-family: Margo + Beuys;
                font-size: 6vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                margin-bottom: 1em;
            }

            .cont_data_proyecto {
                display: flex;
                flex-direction: column;
                gap: 4em;

                .data {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content:start;
                    gap: none;
                    .cont_dato {
                        width: 100%;
                        .titulo {
                            width: 100%;
                            font-family: Gotham;
                            font-size: 15px;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: start;
                            color: #606060;
                        }

                        .dato {
                            font-family: Gotham;
                            font-size: 2.5vh;
                            font-weight: 500;
                            letter-spacing: normal;
                            text-align: start;
                            color: #000;
                        }
                    }
                }

                .data_proyecto {
                    width: 100%;
                    font-family: Gotham;
                    font-size: clamp(10px, 4vw, 32px);
                    font-weight: 400;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000;
                }
            }
        }

        .cont_paletadecolores {
            display: flex;
            flex-direction: column;
            margin-left: 1em;
            margin-right: 1em;
            height: 100vh;
            padding-top: 2em;

            h3 {
                flex-grow: 0;
                font-family: Margo + Beuys;
                font-size: 6vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                margin-bottom: 1em;
            }

            .cont_cont_colores {
                height: 100%;
                margin-bottom: 1em;
                display: flex;
                flex-direction: column;
                gap: 1em;
                justify-content: center;
                align-items: center;
                gap: 25px;
                padding: 1em 1em;
                border-radius: 10px;
                background-color: #efefef;

                .color_uno {
                    width: 100%;
                    height: 285px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 10px;
                    padding: 10px 15px;
                    border-radius: 10px;
                    box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                    background-color: #fff;

                    .titulo {
                        font-family: Gotham;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #303030;
                    }

                    p {
                        width: 100%;
                        font-family: Margo + Beuys;
                        font-size: 15px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: end;
                        color: #303030;
                    }
                }

                .color_segundario {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    gap: 1em;

                    .color_dos {
                        height: 33.3%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 10px 15px;
                        border-radius: 10px;
                        box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                        background-color: #ff4d00;

                        .titulo {
                            font-family: Gotham;
                            font-size: 15px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 100%;
                            font-family: Margo + Beuys;
                            font-size: 15px;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: end;
                            color: #ffffff;
                        }
                    }

                    .color_tres {
                        height: 33.3%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 10px 15px;
                        border-radius: 10px;
                        box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                        background-color: #303030;

                        .titulo {
                            font-family: Gotham;
                            font-size: 15px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 100%;
                            font-family: Margo + Beuys;
                            font-size: 15px;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: end;
                            color: #ffffff;
                        }
                    }

                    .color_cuatro {
                        height: 33.3%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 10px 15px;
                        border-radius: 10px;
                        box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);
                        background-color: #000;

                        .titulo {
                            font-family: Gotham;
                            font-size: 15px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 100%;
                            font-family: Margo + Beuys;
                            font-size: 15px;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: end;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .cont_fuentes {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            margin-left: 1em;
            margin-right: 1em;
            height: 100%;
            padding-top: 5em;
            padding-bottom: 2em;
            gap: 5em;

            h3 {
                flex-grow: 0;
                font-family: Margo + Beuys;
                font-size: 6vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                margin-bottom: 0em;
            }

            .fuente {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;

                p {
                    margin: 0 132px 12px 0;
                    font-family: Gotham;
                    font-size: 20px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.6px;
                    text-align: start;
                    color: #000;
                }

                .img_font {
                    width: 50%;
                }

                .cont_fuentess {
                    width: 100%;
                    margin-top: 2em;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(70px, 100%), 1fr));
                    gap: 1em;

                    .cont_font {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 0.5em;

                        img {
                            width: 60%;
                        }

                        .nombre_fuente {
                            display: inline;
                            width: 100%;
                            font-family: Gotham;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1;
                            color: #000;
                        }
                    }
                }
            }
        }

        .cont_img {
            display: flex;
            flex-direction: column;
            margin-top: 10em;
            margin-bottom: 10em;
            gap: 1em;
    
            .cont_img_grup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;
    
                .cont_img_uno {
                    width: 100%;
    
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                .cont_img_dos {
                    width: 100%;
    
                    video {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .cont_img_tres{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}