.body_proyecto {
    .cont_proyectos_scrolls {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        overflow: hidden;

        .cont_inicios {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 1px black;
            overflow: hidden;

            .colum_unos {
                padding-left: 1.5em;
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: center;
                width: 60vw;
                gap: 2em;

                .tipo {
                    width: fit-content;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: start;

                    p {
                        font-family: monaregular;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                    }
                }

                .titulo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;

                    h1 {
                        flex-grow: 0;
                        font-family: monaextrabold;
                        font-size: 6vw;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000;
                    }
                }

                .parrafo {
                    p {
                        height: 20px;
                        flex-grow: 0;
                        font-family: monaregular;
                        font-size: 15px;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: center;
                        color: #000;
                    }
                }
            }

            .cont_banner {
                width: 40vw;
                height: 100vh;
                background: #111111;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-left: #000 solid 1px;

                .video_pro_jannier {
                    height: 100%;
                }
            }
        }

        .cont_acercadelproyecto {
            z-index: 1;
            filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
            width: 100vw;
            background: #ffffff;
            position: absolute;
            transform: translateY(100vh);
            display: flex;
            flex-direction: column;
            height: 100vh;

            h3 {
                padding: 15vh 0.5em 1em 0.5em;
                flex-grow: 0;
                font-family: monabold;
                font-size: 10vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                border-bottom: #000 solid 1px;
            }

            .cont_data_proyecto {
                display: flex;
                flex-direction: column-reverse;
                border-bottom: #000 solid 1px;
                align-items: center;
                height: 100%;

                .data {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .cont_dato {
                        padding-left: 1.5em;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column-reverse;
                        width: 100%;
                        height: 100%;
                        border-right: 1px solid black;
                        gap: 0.5em;
                        position: relative;

                        .titulo {
                            font-family: monaregular;
                            font-size: 1.2vw;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            color: #000000;
                        }

                        .dato {
                            font-family: monabold;
                            font-size: 2vw;
                            font-weight: 500;
                            letter-spacing: normal;
                            text-align: left;
                            color: #000;
                        }

                        .cont_icon {
                            background: #ff4d00;
                            top: 0;
                            position: absolute;
                            right: 0;
                            border-bottom: 1px solid black;
                            border-left: 1px solid black;

                            img {
                                filter: invert(100%);
                                margin: 2em;
                                width: 4vw;
                            }
                        }
                    }
                }

                .data_proyecto {
                    padding: 3em 1.5em 3em 1.5em;
                    width: 100%;
                    font-family: monaregular;
                    font-size: 1.2vw;
                    font-weight: 400;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000;
                    border-bottom: #000 1px solid;
                }
            }
        }

        .cont_paletadecolores {
            z-index: 2;
            filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
            width: 100vw;
            background: #ffffff;
            position: absolute;
            transform: translateY(100vh);
            display: flex;
            flex-direction: column;
            height: 100vh;

            h3 {
                padding: 15vh 0.5em 1em 0.5em;
                flex-grow: 0;
                font-family: monabold;
                font-size: 10vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                border-bottom: #000 solid 1px;
            }

            .cont_cont_colores {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                border-bottom: #000 solid 1px;

                .cont_color_uno {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 10px 15px;
                    box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);

                    .titulo {
                        font-family: monaregular;
                        font-size: 1vw;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }

                    p {
                        font-family: monamedium;
                        font-size: 2vw;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: end;
                        color: #ffffff;
                    }
                }
            }
        }

        .cont_fuentes {
            z-index: 3;
            filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
            width: 100vw;
            background: #ffffff;
            position: absolute;
            transform: translateY(100vh);
            display: flex;
            flex-direction: column;
            height: 100vh;

            h3 {
                padding: 15vh 0.5em 1em 0.5em;
                flex-grow: 0;
                font-family: monabold;
                font-size: 10vh;
                font-weight: 900;
                text-align: left;
                color: #000;
                border-bottom: #000 solid 1px;
            }

            .fuente {
                border-bottom: #000 solid 1px;
                padding-top: 2em;
                padding-left: 2em;
                padding-bottom: 1em;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                width: 100%;
                height: 100%;

                p {
                    font-family: monamedium;
                    font-size: 1.2vw;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.6px;
                    text-align: start;
                    color: #000;
                }

                .img_font {
                    width: 10%;
                }

                .cont_fuentess {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(70px, 100%), 1fr));
                    gap: 1em;

                    .cont_font {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 0.5em;

                        img {
                            width: 20%;
                        }

                        .nombre_fuente {
                            display: inline;
                            width: 100%;
                            font-family: Gotham;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 1;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .cont_img {
        background: #ffffff;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: #000 solid 1px;

        .cont_img_grup {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .cont_img_uno {
                width: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .cont_img_dos {
                width: 50%;

                video {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .cont_img_tres {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {

    .body_proyecto {
        .cont_proyectos_scrolls {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100vh;
            overflow: hidden;

            .cont_inicios {
                height: 90vh;
                display: flex;
                flex-direction: column-reverse;
                align-items: start;
                justify-content: start;
                border-bottom: solid 1px black;
                overflow: hidden;

                .colum_unos {
                    padding: 1.5em 1em 4em 1em;
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    justify-content: center;
                    width: 100vw;
                    gap: 1em;

                    .tipo {
                        width: fit-content;
                        padding: 5px 10px;
                        border-radius: 10px;
                        background-color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: start;

                        p {
                            font-family: monaregular;
                            font-size: 3vw;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: center;
                            color: #fff;
                        }
                    }

                    .titulo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;

                        h1 {
                            flex-grow: 0;
                            font-family: monaextrabold;
                            font-size: 6vw;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #000;
                        }
                    }

                    .parrafo {
                        p {
                            height: 20px;
                            flex-grow: 0;
                            font-family: monaregular;
                            font-size: 15px;
                            font-weight: 300;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: center;
                            color: #000;
                        }
                    }
                }

                .cont_banner {
                    width: 100vw;
                    height: 100vh;
                    background: #111111;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-left: #000 solid 0px;

                    .video_pro_jannier {
                        height: 100%;
                    }
                }
            }

            .cont_acercadelproyecto {
                z-index: 1;
                filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
                width: 100vw;
                background: #ffffff;
                position: absolute;
                transform: translateY(100vh);
                display: flex;
                flex-direction: column;
                height: 100vh;

                h3 {
                    padding: 12vh 0.5em 1em 0.5em;
                    flex-grow: 0;
                    font-family: monabold;
                    font-size: 6vh;
                    font-weight: 900;
                    text-align: left;
                    color: #000;
                    border-bottom: #000 solid 1px;
                }

                .cont_data_proyecto {
                    display: flex;
                    flex-direction: column-reverse;
                    border-bottom: #000 solid 1px;
                    align-items: center;
                    height: 100%;

                    .data {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;


                        .cont_dato {
                            padding-left: 1.5em;
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            flex-direction: column-reverse;
                            width: 100%;
                            height: 100%;
                            border-right: 1px solid black;
                            gap: 0.5em;
                            position: relative;
                            border-bottom: #000 solid 1px;

                            .titulo {
                                font-family: monaregular;
                                font-size: 3vw;
                                line-height: 1.36;
                                letter-spacing: normal;
                                text-align: left;
                                color: #000000;
                            }

                            .dato {
                                font-family: monabold;
                                font-size: 4vw;
                                font-weight: 500;
                                letter-spacing: normal;
                                text-align: left;
                                color: #000;
                            }

                            .cont_icon {
                                background: #ff4d00;
                                top: 0;
                                position: absolute;
                                right: 0;
                                border-bottom: 1px solid black;
                                border-left: 1px solid black;

                                img {
                                    filter: invert(100%);
                                    margin: 1.5em;
                                    width: 5vw;
                                }
                            }
                        }
                    }

                    .data_proyecto {
                        padding: 3em 1.5em 3em 1.5em;
                        width: 100%;
                        font-family: monaregular;
                        font-size: 3vw;
                        font-weight: 400;
                        letter-spacing: normal;
                        text-align: left;
                        color: #000;
                        border-bottom: #000 1px solid;
                    }
                }
            }

            .cont_paletadecolores {
                z-index: 2;
                filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
                width: 100vw;
                background: #ffffff;
                position: absolute;
                transform: translateY(100vh);
                display: flex;
                flex-direction: column;
                height: 100vh;

                h3 {
                    padding: 12vh 0.5em 1em 0.5em;
                    flex-grow: 0;
                    font-family: monabold;
                    font-size: 6vh;
                    font-weight: 900;
                    text-align: left;
                    color: #000;
                    border-bottom: #000 solid 1px;
                }

                .cont_cont_colores {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    border-bottom: #000 solid 1px;

                    .cont_color_uno {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 10px 15px;
                        box-shadow: inset 0 0 12.7px 0 rgba(0, 0, 0, 0.25);

                        .titulo {
                            font-family: monaregular;
                            font-size: 3vw;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            font-family: monamedium;
                            font-size: 4vw;
                            font-weight: 900;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: end;
                            color: #ffffff;
                        }
                    }
                }
            }

            .cont_fuentes {
                z-index: 3;
                filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.2));
                width: 100vw;
                background: #ffffff;
                position: absolute;
                transform: translateY(100vh);
                display: flex;
                flex-direction: column;
                height: 100vh;

                h3 {
                    padding: 12vh 0.5em 1em 0.5em;
                    flex-grow: 0;
                    font-family: monabold;
                    font-size: 6vh;
                    font-weight: 900;
                    text-align: left;
                    color: #000;
                    border-bottom: #000 solid 1px;
                }

                .fuente {
                    border-bottom: #000 solid 1px;
                    padding-top: 2em;
                    padding-left: 2em;
                    padding-bottom: 1em;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    p {
                        font-family: monamedium;
                        font-size: 3vw;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: 0.6px;
                        text-align: start;
                        color: #000;
                    }

                    .img_font {
                        width: 30%;
                    }

                    .cont_fuentess {
                        height: 100%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(min(70px, 100%), 1fr));
                        gap: 1em;

                        .cont_font {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 0.5em;

                            img {
                                width: 30%;
                            }

                            .nombre_fuente {
                                display: inline;
                                width: 100%;
                                font-family: monaregular;
                                font-size: 3vw;
                                font-weight: 300;
                                line-height: 1;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        .cont_img {
            background: #ffffff;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-bottom: #000 solid 1px;

            .cont_img_grup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .cont_img_uno {
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .cont_img_dos {
                    width: 100%;

                    video {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .cont_img_tres {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }


}