$colorn:#F24E1E;
$colora:#FDBD39;
$coloroff:#222222;
$coloron:#000000;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background: #ffffff;
    cursor: url("../assets/img/cursor.svg") 12 12, auto;
}

body::-webkit-scrollbar {
    width: 5px;
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: #000000;
    width: 10px;
    border-radius: 19px;
}


.contactame {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    width: 198px;
    height: 43px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    color: #FFFFFF;
    cursor: url("../assets/img/flecha1.svg") 10 12, auto;

    &:hover {
        background: #000000;
        color: #ffffff;
        border: 1px solid #ffffff;
        transform: scale(1.1);
        width: 220px;
        gap: 50px;
    }
}

.cancelar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    width: 151px;
    height: 43px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

//########### barra de navegacion ###########//
.barra__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    align-items: center;

    .cont__logo__nav {
        transform: scale(1);
    }

    .icono-menu {
        display: flex;
        justify-content: end;
        position: fixed;
        position: relative;
        z-index: 100;
        transform: scale(0.8);
    }
}

.cont__logo__menu {
    display: flex;
    justify-content: start;
    width: 100%;
    

    .logo__menu {
        align-items: end;
        padding-left: 5em;
        padding-top: 2em;
        padding-bottom: 10px;
        transform: scale(0.8);
    }

}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu {
    z-index: 99;
    background: rgba(230, 230, 230, 0.575);
    backdrop-filter: blur(14.5px);
    box-shadow: -395px 0px 66px rgba(103, 103, 103, 0.25);
    width: 60vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all .5s ease-in-out;
}

.active {
    border-radius: 1000px 0px 0px 1000px;
    transform: translate(90vw);
    visibility: hidden;
    position: fixed;
    background: #ffffff;
}

.cont-menu ul {
    display: flex;
    flex-direction: row;
    padding: 2em 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li a {
    justify-content: end;
    align-items: end;
    color: rgb(3, 3, 3);
    display: block;
    text-decoration: none;
    padding: 10px  5em;
    cursor: pointer;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 136%;
    color: #020202;
}

.cont-menu ul p {
    justify-content: start;
    align-items: start;
    color: rgb(124, 124, 124);
    display: block;
    font-size: 60px;
    text-decoration: none;
    padding: 10px 6em;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 136%;
}
.cont-menu p {
    justify-content: start;
    align-items: start;
    color: rgb(124, 124, 124);
    display: block;
    font-size: 60px;
    text-decoration: none;
    padding: 10px 6em;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 136%;
}

.cont-menu ul li a:hover {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}

.redes__menu{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 6em;
    filter: invert(100%);
}

.redes__menu a img:hover{
    transform: scale(1.5)
}


//########### barra de navegacion ###########//
// nav {
//     display: flex;

//     align-items: center;
//     margin-top: 2em;
//     margin-bottom: 2em;
//     justify-content: space-between;
//     margin-left: 5em;
//     margin-right: 5em;

//     #logo {
//         transform: scale(0.9);
//     }

//     .bars__menu {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-top: 5px;
//         width: 40px;
//         transform: translate(-50%, -50%) scale(1);
//         cursor: pointer;
//         z-index: 100;
//     }

// }
// .bars__menu span {
//     display: block;
//     width: 100%;
//     height: 3px;
//     background: #000000;
//     margin-top: 6px;
//     transform-origin: 0px 100%;
//     transition: all 300ms;

// }
// .activeline1__bars-menu {
//     transform: rotate(45deg) translate(-6px, 1px);

// }
// .activeline2__bars-menu {
//     opacity: 0;
//     margin-left: -30px;
// }
// .activeline3__bars-menu {
//     transform: rotate(-45deg) translate(-6px, 2px);
// }

//########### boton de contactar ###########//
.float__wapp {
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 25px;
    z-index: 1;

    .botonfloat__wapp {
        margin-top: 12px;
        margin-left: 12px;
        position: absolute;
        z-index: 1;
    }

    .backfloat__wapp {
        position: absolute;
        z-index: 0;
        animation-name: backfloat;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

//########### pie de pagina ###########//
.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-top: 3em;
    height: 330px;
    background: #000000;
    border-radius: 0px;

    .imgenlogo__pie {
        filter: invert(100%);
    }

    div {
        h5 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 100;
            font-size: 16px;
            line-height: 136%;
            text-align: center;
            color: #FFFFFF;
        }

        h6 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 136%;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .redes__pie {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 13px;
        width: 101px;
        height: 25px;
    }

    div {
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 100;
            font-size: 12px;
            line-height: 136%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

/* ################# RESPONSIVE PIE ############## */
@media (max-width: 1225px) {

    .pie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 20px;
        margin-top: 1em;
        height: 330px;
        background: #000000;
        border-radius: 0px;

        .imgenlogo__pie {
            filter: invert(100%);
        }

        div {
            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }

            h6 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }

        .redes__pie {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 13px;
            width: 101px;
            height: 25px;
        }

        div {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 12px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 770px) {
    .pie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 20px;
        margin-top: 1em;
        height: 330px;
        background: #000000;
        border-radius: 0px;

        .imgenlogo__pie {
            filter: invert(100%);
        }

        div {
            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }

            h6 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }

        .redes__pie {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 13px;
            width: 101px;
            height: 25px;
        }

        div {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 12px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 424px) {
    .pie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 20px;
        margin-top: 1em;
        height: 330px;
        background: #000000;
        border-radius: 0px;

        .imgenlogo__pie {
            filter: invert(100%);
        }

        div {
            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }

            h6 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }

        .redes__pie {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 13px;
            width: 101px;
            height: 25px;
        }

        div {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 12px;
                line-height: 136%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

/* ################# CURSOR ############## */
.grow,
.grow-small {
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(2.5);
    border: none;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 0.5px solid #9b9b9b;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

p {
    margin-bottom: 0px;
}